:root{
    --colore-principale-scritte: whitesmoke;
    --font-principale: "Raleway", sans-serif;
}

html, body {
    background-color: rgb(0, 0, 42);
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(27, 27, 84);
    height: 39rem;
    display: flex;
    align-items: center;
}
header a{
    color: var(--colore-principale-scritte);
}

header h1{
    color: var(--colore-principale-scritte);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    width: 80%;
    font-family: var(--font-principale);
}

main{
    margin: 0 auto;
    text-align: justify;
    width: 70%;
}

main h2{
    color: var(--colore-principale-scritte);
    margin: 0;
    padding: 50px;
    font-family: var(--font-principale);
    font-size: 1.8rem;
    font-weight: 100;
}

main p{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
    font-size: 1.2rem;
    font-weight: 100;
}

footer {
    padding: 20px;
    margin-top: auto;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 15px;
    margin: 0;
}

footer a{
    color: var(--colore-principale-scritte);
}

address{
    font-family: var(--font-principale);
    color: var(--colore-principale-scritte);
}
