:root{
    --colore-principale-scritte: rgb(2, 0, 99);
    --font-principale: "Raleway", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(85, 131, 143);
    display: flex;
    flex-direction: column;
}

.intestazione{
    background-color: rgb(44, 44, 138);
    display: flex;
    justify-content: right;
}

.portfolio-curriculum {
    padding: 12px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.portfolio-curriculum ul{
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
}

.portfolio-curriculum li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 12px;
    text-transform: uppercase;
    font-family: var(--font-principale);
}

.active {
    color: rgb(104, 104, 134) !important;
    background-color: rgb(10, 0, 96);
}

.portfolio-curriculum a:hover {
    color: rgb(104, 104, 134);
}

.hobby{
    width: 65%;
    display: flex;
    gap: 30px;
    margin: 50px auto;
}
.hobby p{
    width: 50%;
    display: flex;
    text-align: justify;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.4;
}
.hobby img{
    width: 50%;
}

hr {
    display: block;
    border: none;
    border-top: 2px solid rgb(44, 44, 138);
    margin: 1em 0;
    height: 0;
}
  
main{
    margin: 70px auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.my-resume-title{
    width: 50%;
}

.my-resume-title h1{
    font-family: "Raleway", sans-serif;
    font-size: clamp(3rem, 1.4vw, 1.6rem);
    letter-spacing: -2px;
    margin: 0;
}

.elenco-my-resume{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    cursor: pointer;
}

.my-resume-menu {
    margin: 20px;
    width: 50%;
}

.my-resume-menu ul{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    list-style-type: circle;
}
.my-resume-menu p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

.my-resume-menu summary:hover{
    color: rgb(18, 18, 126);
}

.sotto-summary{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    padding: 0px 50px;
}
.science_production{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.link-production{
    color: rgb(18, 18, 126);
}

footer {
    padding: 20px;
    margin-top: auto;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    gap: 20px;
    margin: 0;
}

footer a{
    color: var(--colore-principale-scritte);
}

address{
    display: flex;
    align-items: center;
}
address p{
    margin: 0;
    font-family: var(--font-principale);
    color: var(--colore-principale-scritte);
}

address img{
    border: 1px solid var(--colore-principale-scritte);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    .intestazione {
        align-items: center;
        padding: 0;

    }

    .portfolio-curriculum ul {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .hobby{
        margin: 50px auto;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .hobby p{
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .hobby img{
        width: 100%;
    }

    main{
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
    .my-resume-title{
        width: 100%;
    }

    .my-resume-title h1{
        margin: 20px;
        font-size: 38px;
        letter-spacing: -3px;
    }
    
    .my-resume-menu{
        width: 100%;
    }

    .elenco-my-resume{
        font-size: 25px;
    }
    
    .my-resume-menu ul{
        font-size: 15px;
    }
    .my-resume-menu p{
        font-size: 15px;
    }
    
    .sotto-summary{
        font-size: 18px;
    }
    .science_production{
        font-size: 18px;
    }

    footer ul{
        font-size: 17px;
        gap: 10px;
    }
    
    footer address{
        font-size: 17px;
    }
}