body{
    background-color: rgb(179, 201, 221);
    margin: 0;
    padding: 0;
}
header{
    margin: 0; /* Rimuove i margini */
    padding: 20px 0; /* Aggiunge spazio interno verticale */
    width: 100%; /* Assicura che occupi tutta la larghezza */
    position: relative;
    min-height: 200px;
}
header::before{
    position: absolute;
    content: "";
    background-image: url(img/osteopathic-doctor-checking-female-patient-s-leg-movement.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%; /* Assicura che occupi tutta la larghezza */
    height: 100%;
    filter: blur(3px);
    opacity: 0.5;
    z-index: -1;
}
.menu-header{
    padding: 1% 2%;
    border: 2px rgb(2, 0, 99) solid;
}
.menu-header ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.menu-header ul li a{
    font-size: 90%;
    text-decoration: none;
    color: rgb(2, 0, 99);
}
h1{
    padding: 2% 0;
    font-size: 350%;
    text-align: center;
    color: rgb(2, 0, 99);
}
p, div, ul{
    margin-left: 40px;
    font-size: 24px;
}
.titolo{
    margin-left: 30px;
    font-size: 24px;
}
.foto_profilo{
    margin-left: 30px;
    border-style: solid;
    border-color: rgb(2, 0, 99);
    border-radius: 50%;
    width: 250px;
    max-width: 100%; height: auto;
}
.foto_linkedin{
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    max-width: 100%; height: auto;
}
.container {
    display: flex;
    align-items: center;  /* Allinea verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    text-align: center; /* Centra il testo */
    gap: 20px; /* Distanza tra immagine e testo */
}
.container p {
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    background-color: rgb(150, 168, 206);
    margin: 0; /* Rimuove i margini */
    padding: 50px 0; /* Aggiunge spazio interno verticale */
    width: 100%; /* Assicura che occupi tutta la larghezza */
}
footer ul{
    list-style: none; /* Rimuove i pallini */
    padding: 0; /* Elimina il padding sinistro */
    margin: 0; /* Opzionale, riduce lo spazio attorno */
    margin-left: 20px;
}
main{
    margin: 5% 2%;
}
main h2{
    margin-left: 30px;
    color: rgb(2, 0, 99);
    font-size: 180%;
    font-weight: 100;
}
