* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(0deg, rgba(199,221,226,1) 2%, rgba(97,145,194,1) 5%, rgba(145,193,203,1) 100%);
}

.portfolio-curriculum {
    position: relative;
    font-size: 20px;
    background-color: rgb(67, 67, 141);
    text-align: right;
    padding: 15px;
}

.portfolio-curriculum ul{
    list-style: none;
}

.portfolio-curriculum li{
    display: inline;
}

.portfolio-curriculum li a{
    color: antiquewhite;
    text-decoration: none;
    padding: 18px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active{
    background-color: rgb(121, 157, 223);
}

h1{
    padding: 1% 0;
    font-size: 350%;
    text-align: center;
    color: rgb(2, 0, 99);
}

.titolo{
    margin-left: 30px;
    font-size: 1.5rem;
}

.foto_profilo{
    margin-left: 30px;
    border-style: solid;
    border-color: rgb(2, 0, 99);
    border-radius: 50%;
    width: 250px;
    max-width: 100%; height: auto;
}
.foto_linkedin{
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    max-width: 100%; height: auto;
}
.container {
    display: flex;
    align-items: center;  /* Allinea verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    text-align: center; /* Centra il testo */
    gap: 20px; /* Distanza tra immagine e testo */
}


section{
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#citazione{
    padding: 2%;
}
footer{
    /*background-color: rgb(150, 168, 206);
    margin: 0; /* Rimuove i margini */
    padding: 10px 0; /* Aggiunge spazio interno verticale */
    width: 100%; /* Assicura che occupi tutta la larghezza */
}
footer ul{
    list-style: none; /* Rimuove i pallini */
    margin: 0; /* Opzionale, riduce lo spazio attorno */
    margin-left: 20px;
}
main{
    margin: 3% 20%;
    justify-content: center;
}
main h2{
    padding: 15px;
    margin-left: 30px;
    color: rgb(2, 0, 99);
    font-size: 2rem;
    font-weight: 100;
}

.formation li{
    font-size: 21px;
    padding: 8px;
    list-style-type: none;
}

.research_experience{
    font-size: 21px;
}

.internships_id{
    font-size: 21px;
}

.science_production{
    font-size: 21px;
}

.work_experience{
    font-size: 21px;
}

.other-work{
    font-size: 20px;
}

.courses {
    font-size: 21px;
    padding: 10px;
}
.courses li{
    list-style-type: none;
    padding: 8px;
}

main ul li{
    padding: 10px;
}
main summary{
    padding: 10px;
}

