:root{
    --colore-principale-scritte: rgb(0, 0, 25);
    --font-principale: "Raleway", sans-serif;
    --backg-color-light: rgb(110, 143, 192);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.intestazione{
    background-color: rgb(0, 0, 100);
    display: flex;
    justify-content: right;
}

.portfolio-curriculum {
    padding: 12px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.portfolio-curriculum ul{
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
}

.portfolio-curriculum li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 12px;
    text-transform: uppercase;
    font-family: var(--font-principale);
}

.active {
    color: rgb(104, 104, 134) !important;
    background-color: rgb(0, 0, 25);
}

.portfolio-curriculum a:hover {
    color: rgb(104, 104, 134);
}

body{
    background-color: var(--backg-color-light);
}

body header{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
}

header::before{
    position: absolute;
    content: "";
    background-image: url(img/foto-sfondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%; /* Assicura che occupi tutta la larghezza */
    height: 100%;
    filter: blur(4px);
    opacity: 0.5;
    z-index: -1;
}

h1{
    margin: 0;
    padding: 3% 0;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
    font-weight: 900;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 30% 70%;
    grid-template-areas: 
        "foto titolo"
        "foto citazione"
    ;
    padding: 40px;
    max-width: 75%;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
}
.foto_profilo{
    border-style: solid;
    border-color: var(--colore-principale-scritte);
    border-radius: 50%;
    width: 15rem;
    grid-area: foto;
    justify-self: end;
}
.titolo{
    grid-area: titolo;
    font-size: 2rem;
    font-family: var(--font-principale);
}
.citazione{
    width: 100%;
    grid-area: citazione;
    font-size: 1.3rem;
    font-family: var(--font-principale);
    text-align: justify;
}

.progetti {
    margin: 50px;
}

.progetti h2{
    margin: 50px auto;
    font-size: 1.8rem;
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
}

.flex-progetti{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.flex-progetti figure{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(245, 209, 214);
    border-radius: 10px;
}

.flex-progetti a{
    text-decoration: none;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
    font-size: 1rem;
}

.flex-progetti img, figcaption{
    padding: 10px;
    width: 90%;
    font-weight: 700;
}
.flex-progetti p{
    font-family: var(--font-principale);
    font-size: 0.8rem;
    margin: 10px;
    width: 90%;
    text-align: left;
}
.flex-progetti button{
    font-family: var(--font-principale);
    margin: 5px;
}
.flex-progetti button a{
    font-size: 0.8rem;
}

/*skills*/
.skills {
    width: 100%;
}

.skills h2{
    margin: 50px auto 10px auto;
    font-size: 1.8rem;
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
}

.flex-skills{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-skills figure{
    margin: 0;
    text-align: center;
    max-width: 25%;
}

.flex-skills img{
    padding: 5px;
}

.flex-skills figcaption{
    color: var(--colore-principale-scritte);
    font-weight: 700;
    padding: 5px;
    margin: 0 auto;
}

.flex-skills p{
    font-family: var(--font-principale);
    font-size: 0.8rem;
    color: var(--colore-principale-scritte);
    margin: 0 auto;
}
.flex-skills button{
    font-family: var(--font-principale);
    margin: 5px;
}
.flex-skills button a{
    font-size: 0.8rem;
}

/*footer*/
footer {
    padding: 20px;
    margin-top: auto;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    gap: 20px;
    margin: 0;
}

footer a{
    color: var(--colore-principale-scritte);
}

address{
    display: flex;
    align-items: center;
    gap: 20px;
}
address p{
    margin: 0;
    font-family: var(--font-principale);
    color: var(--colore-principale-scritte);
}

address img{
    border: 1px solid var(--colore-principale-scritte);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    header h1{
        font-size: 1.5rem;
        padding: 40px 0 0 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .foto_profilo {
        width: 50vw;
        margin-left: 0;
    }
    .titolo {
        text-align: center;
        font-size: 1.4rem;
    }
    .citazione {
        text-align: center;
        font-size: 1.1rem;
    }

    .intestazione {
        align-items: center;
        padding: 0;
    }

    .portfolio-curriculum ul {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .flex-progetti{
        margin: 20px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .flex-progetti figcaption{
        text-align: center;
    } 

    .flex-progetti figure{
       width: 100%;
    }

    /*skills*/
    .flex-skills{
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .flex-skills img{
        max-width: 100%;
    } 
    .flex-skills figcaption{
        text-align: center;
    } 

    footer ul{
        font-size: 17px;
        gap: 10px;
    }
    
    footer address{
        font-size: 17px;
    }
}
