:root{
    --colore-principale-scritte: rgb(2, 0, 99);
    --font-principale: "Raleway", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.intestazione{
    padding: 0 10px;
    background-color: rgb(44, 44, 138) ;
    display: flex;
    justify-content: space-between;
}

.language {
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.language ul{
    padding: 0;
    gap: 15px;
    display: flex;
    list-style: none;
}

.language li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
    font-family: var(--font-principale);
}

.active-language {
    color: rgb(104, 104, 134) !important;
}

.language a:hover {
    color: rgb(104, 104, 134);
}
 
.portfolio-curriculum {
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.portfolio-curriculum ul{
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
}

.portfolio-curriculum li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
    font-family: var(--font-principale);
}

.active {
    color: rgb(104, 104, 134) !important;
}

.portfolio-curriculum a:hover {
    color: rgb(104, 104, 134);
}

body{
    background-color: rgb(85, 131, 143);
}

body header{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
    text-align: center;
}

header::before{
    position: absolute;
    content: "";
    background-image: url(img/foto-sfondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%; /* Assicura che occupi tutta la larghezza */
    height: 100%;
    filter: blur(4px);
    opacity: 0.5;
    z-index: -1;
}

h1{
    margin: 0;
    padding: 3% 0;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
    font-weight: 900;
    letter-spacing: -2px;
}

.titolo{
    font-size: 2rem;
}

.foto_profilo{
    margin-left: 30px;
    border-style: solid;
    border-color: var(--colore-principale-scritte);
    border-radius: 50%;
    width: 15vw;
    max-width: 100%; 
    height: auto;
}

.container {
    display: flex;
    align-items: center;  /* Allinea verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    text-align: center; /* Centra il testo */
    gap: 20px; /* Distanza tra immagine e testo */
}

#citazione{
    padding: 5%;
    text-align: justify;
    font-size: clamp(1rem, 1.4vw, 1.6rem);
    font-family: var(--font-principale);
    max-width: 40%;
    margin: 0 auto;
}

.material-icons{
    text-decoration: none;
    color: var(--colore-principale-scritte);
}

.progetti {
    margin: 0 auto;
    width: 100%;
}


.progetti h2{
    margin: 200px auto 40px auto;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
}

.grid-progetti{
    display: flex;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
}

.progetti figcaption{
    text-align: center;
    color: var(--colore-principale-scritte);
    font-family: var(--font-principale);
    font-size: clamp(0.8rem, 0.9vw, 1rem);
}

footer {
    padding: 0 10px;
    margin-top: auto;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 15px;
    margin: 0;
}

footer a{
    color: var(--colore-principale-scritte);
}

address{
    font-family: var(--font-principale);
    color: var(--colore-principale-scritte);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .titolo {
        max-width: 85%;
        font-size: 1.2rem;
    }

    .foto_profilo {
        width: 40vw;
        margin-left: 0;
    }

    #citazione {
        max-width: 90%;
        font-size: 1rem;
    }

    .progetti {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .progetti h2 {
        margin: 0;
        padding: 50px 0 20px 0;
    }

    .grid-progetti {
        gap: 30px;
    }

    .progetti figure {
        margin: 0;
        width: 60%;
    }

    .progetti img {
        width: 100%;
    }

    .intestazione {
        align-items: center;
        padding: 0;
    }

    .portfolio-curriculum ul {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .language ul {
        margin: 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    footer ul{
        font-size: 17px;
        gap: 10px;
    }
    
    footer address{
        font-size: 17px;
    }
    }
