body{
    background-color: rgb(151, 134, 134);
}
h1{
    color: #960000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
p{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}