body{
    background-color: rgb(236, 175, 126);
}
h1{
    color: #960000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
p{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
ul{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.immagine-dx {
    width: 30%; /* Imposta la larghezza della tabella */
    height: auto;
    margin-left: 5px; /* Distanza tra l'immagine e la tabella */
    border-radius: 25px;
}

table {
    width: 20%; /* Imposta la larghezza della tabella */
    float: left;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    bottom: 50px;
    left: 10px; /* Aggiunto per allinearlo a sinistra */
}
