:root{
    --colore-principale-scritte: rgb(0, 0, 25);
    --font-principale: "Raleway", sans-serif;
    --backg-color-light: rgb(110, 143, 192);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backg-color-light);
    display: flex;
    flex-direction: column;
}

.intestazione{
    background-color: rgb(101, 98, 148);
    display: flex;
    justify-content: right;
}

.active {
    color: rgb(104, 104, 134) !important;
    background-color: rgb(0, 0, 25);
}

hr {
    display: block;
    border: none;
    border-top: 2px solid rgb(44, 44, 138);
    margin: 1em 0;
    height: 0;
}
  
main{
    margin: 70px auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
}


.elenco-my-resume{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    cursor: pointer;
    color: var(--colore-principale-scritte);
}


.sotto-summary{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: var(--colore-principale-scritte);
    padding: 0px 50px;
}
.science_production{
    font-family: "Raleway", sans-serif;
    color: var(--colore-principale-scritte);
    font-size: 15px;
}

.link-production{
    color: rgb(0, 0, 100);
}


@media (max-width: 768px) {
    .intestazione {
        align-items: center;
        padding: 0;

    }

    .portfolio-curriculum ul {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .hobby{
        margin: 50px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .hobby p{
        padding: 0;
        margin: 0 0 20px 0;
        width: 100%;
        font-size: 1rem;
        line-height: 25px;
    }
    .hobby img{
        width: 100%;
    }

    main{
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
    .my-resume-title{
        width: 100%;
    }

    .my-resume-title h1{
        margin: 20px;
        font-size: 1.8rem;
    }
    
    .my-resume-menu{
        width: 100%;
    }

    .elenco-my-resume{
        font-size: 1.3rem;
    }
    
    .my-resume-menu ul{
        font-size: 15px;
    }
    .my-resume-menu p{
        font-size: 15px;
    }
    
    .sotto-summary{
        font-size: 18px;
    }
    .science_production{
        font-size: 18px;
    }

    footer ul{
        font-size: 17px;
        gap: 10px;
    }
    
    footer address{
        font-size: 17px;
    }
}