html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(85, 131, 143);
    display: flex;
    flex-direction: column;
}

.intestazione{
    padding: 0 10px;
    background-color: rgba(18, 18, 126, 0.664) ;
    display: flex;
    justify-content: right;
}

.portfolio-curriculum {
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.portfolio-curriculum ul{
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
}

.portfolio-curriculum li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active {
    color: rgb(104, 104, 134) !important;
}

.portfolio-curriculum a:hover {
    color: rgb(104, 104, 134);
}

.foto_linkedin{
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    max-width: 100%; 
    height: auto;
}

main{
    margin: 70px auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.my-resume-title{
    width: 50%;
}

.my-resume-title h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(3rem, 1.4vw, 1.6rem);
    letter-spacing: -4px;
}

.my-resume-menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(2rem, 1.4vw, 1.6rem);
    width: 50%;
}

.my-resume-menu ul{
    font-size: clamp(1rem, 1vw, 1.2rem);
    list-style-type: circle;
}

.my-resume-menu summary{
    cursor: pointer;
}

.my-resume-menu summary:hover{
    color: rgb(18, 18, 126);
}


.sotto-details{
    font-size: clamp(1rem, 1vw, 1.2rem);
}
.sotto-summary{
    font-size: clamp(1.3rem, 1vw, 1.2rem);
    padding: 0px 50px;
}
.science_production{
    font-size: clamp(1rem, 1vw, 1.2rem);
}

footer {
    padding: 0 10px;
    margin-top: auto;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a{
    color: rgb(18, 18, 126);
    font-weight: 600;
}
