html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.intestazione{
    padding: 0 10px;
    background-color: rgba(18, 18, 126, 0.664) ;
    display: flex;
    justify-content: space-between;
}

.language {
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.language ul{
    padding: 0;
    gap: 15px;
    display: flex;
    list-style: none;
}

.language li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active-language {
    color: rgb(104, 104, 134) !important;
}

.language a:hover {
    color: rgb(104, 104, 134);
}
 
.portfolio-curriculum {
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.portfolio-curriculum ul{
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
}

.portfolio-curriculum li a{
    color: rgb(255, 235, 210);
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active {
    color: rgb(104, 104, 134) !important;
}

.portfolio-curriculum a:hover {
    color: rgb(104, 104, 134);
}

body{
    background-color: rgb(85, 131, 143);
}

body header{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
    text-align: center;
}

header::before{
    position: absolute;
    content: "";
    background-image: url(img/osteopathic-doctor-checking-female-patient-s-leg-movement.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%; /* Assicura che occupi tutta la larghezza */
    height: 100%;
    filter: blur(4px);
    opacity: 0.5;
    z-index: -1;
}

h1{
    padding: 2% 0;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
    text-align: center;
    color: rgb(2, 0, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
}

.titolo{
    font-size: clamp(1rem, 1.5vw, 2rem);
    max-width: 40%;
}

.foto_profilo{
    margin-left: 30px;
    border-style: solid;
    border-color: rgb(2, 0, 99);
    border-radius: 50%;
    width: 15vw;
    max-width: 100%; 
    height: auto;
}

.container {
    display: flex;
    align-items: center;  /* Allinea verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    text-align: center; /* Centra il testo */
    gap: 20px; /* Distanza tra immagine e testo */
}

#citazione{
    padding: 5%;
    text-align: justify;
    font-size: clamp(1rem, 1.4vw, 1.6rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 40%;
    margin: 0 auto;
}

.material-icons{
    text-decoration: none;
    color: rgb(2, 0, 99);
}

.progetti {
    margin: 0 auto;
    width: 100%;
}


.progetti h2{
    margin: 200px auto 40px auto;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    text-align: center;
    color: rgb(2, 0, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.progetti section{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* opzionale: fa andare le immagini a capo su schermi piccoli */
}

.progetti figcaption{
    text-align: center;
    color: rgb(2, 0, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(0.8rem, 0.9vw, 1rem);
}
